.main-title{
    margin-top: 70px;
    margin-bottom: 90px;
}

.quizOverText-style{
    font-size: x-large;
}

.quizResults-style{
    font-size: large;
}

.back-btn{
    margin-top: 70px;
    margin-bottom: 20px;
}
