.square-box{
    margin-top: 100px;
    padding-top: 30px;
    max-width: 1000px;
    min-height: 650px;
    border: 1px solid #333;
    border-radius: 25px;
  }
  
  .inner-box{
    margin-top: 10px;
  }